---
---

@import "{{ site.theme }}";

.page-header {
  color: #2E312C;
  text-align: center;
  background-color: #fff;
  background-image: linear-gradient(to bottom, #fca314, #fff);
}

.main-content {
  color: #222;
}
